<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
   {{!-- {{>navbar}} --}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center ">
                        <figure class="errorimg">
                            <img src="image/404.png" alt="image" class="img-fluid" title="image">
                        </figure>
                        <h1><span>OOPS!</span> page not found</h1>
                        <a href="/"><button>go back</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    {{!-- <footer>
        <p>Created by Darshan</p>
    </footer> --}}
</body>

</html>