<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
   {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="image/bg1.png" alt="image" class="img-fluid" title="image">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span>Back-end Developer</span>.</h1>
                        <a href="https://github.com/ovERthinkER7"><button>about me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    <footer>
        <p>Created by Darshan</p>
    </footer>
</body>

</html>